In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_pickle('Loki_dataset.pkl')

df.head()

          x         y          z  user activity
0 -0.361329 -0.904519  10.007142   1.0      bed
1 -0.375687 -0.928448   9.995177   1.0      bed
2 -0.397223 -0.921270   9.990392   1.0      bed
3 -0.332614 -0.942806   9.983212   1.0      bed
4 -0.337400 -0.902126   9.987998   1.0      bed